@model babylog.Models.DayLog

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" back>
    <form asp-action="Index" method="post">
        <input type="hidden" asp-for="id" />
        <table bgcolor="#ece3d2">
            <tr>
                <td bgcolor="@ViewData["NapColor"]">Wake</td>
                <td>@ViewData["Date"]</td>
                <td><input type="submit" value="Save/Refresh" /></td>
                <td>@ViewData["Time"]</td>
                <td bgcolor="@ViewData["MedicineColor"]">Medicine</td>
                <td bgcolor="@ViewData["MedicineColor"]">
                    <table>
                        <tr>
                            <td><input asp-for="medicine" Size="3"/></td>
                            <td><input asp-for="medicine2" Size="3"/></td>
                        </tr>
                    </table>
                </td>
                <td>Milk</td>
                <td>@ViewData["TotalMilk"] Oz</td>
            </tr>
            <tr>
                <td bgcolor="#d7dab3"><input type="time" asp-for="wakeUpTime"/></td>
                <td bgcolor="@ViewData["FeedColor"]">Feed</td>
                <td bgcolor="@ViewData["FeedColor"]"></td>
                <td bgcolor="@ViewData["FeedColor"]"></td>
                <td bgcolor="@ViewData["DiaperColor"]">Diaper</td>
                <td bgcolor="@ViewData["DiaperColor"]"></td>
                <td>Nap</td>
                <td>@ViewData["TotalNap"]</td>
            </tr>
            @for (int i = 0; i < 11; i ++)
            {
                <tr>
                    @if (i == 9) {
                        <td bgcolor="@ViewData["NapColor"]">Sleep</td>
                    } else if (i==10) {
                        <td bgcolor="@ViewData["NapColor"]"><input type="time" asp-for="sleepTime"/></td>
                    }
                    else if ( i % 3 == 0)
                    {
                        <td bgcolor="@ViewData["NapColor"]">Nap @((i/3)+1)</td>
                    } else if ( i % 3 == 1)
                    {
                        <td bgcolor="@ViewData["NapColor"]"><input type="time" asp-for="napSleepTimes[@i/3]"/></td>
                    } else 
                    {
                        <td bgcolor="@ViewData["NapColor"]"><input type="time" asp-for="napWakeTimes[@i/3]"/></td>
                    }
                    <td bgcolor="@ViewData["FeedColor"]"><input type="time" asp-for="feedTimes[@i]"/></td>
                    <td bgcolor="@ViewData["FeedColor"]">
                        <select asp-for="feedTypes[@i]">
                            <option value=""></option>
                            <option value="Bottle">Bottle</option>
                            <option value="Mother">Mother</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Snacks">Snacks</option>
                        </select>
                    </td>
                    <td bgcolor="@ViewData["FeedColor"]"><input asp-for="feedQuantities[@i]" Size="3"/></td>                    
                    <td bgcolor="@ViewData["DiaperColor"]">
                        <select asp-for="diaperTypes[@i]">
                            <option value=""></option>
                            <option value="Pee">Pee</option>
                            <option value="Poo">Poo</option>
                        </select>
                    </td>
                    <td bgcolor="@ViewData["DiaperColor"]"><input type="time" asp-for="diaperTimes[@i]"/></td>
                    @if(i==0)
                    {
                        <td>Medicine</td>
                        <td>@ViewData["TotalMedicine"]</td>
                    }
                    @if (i==1)
                    {
                        <td rowspan="4" colspan="2">@ViewData["log"]</td>
                    }
                    @if (i==5)
                    {
                        <td rowspan="4" colspan="2"><input asp-for="notes"/></td>
                    }
                </tr>
            }
        </table>
    </form>
</div>