@model babylog.Models.DayLog

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" back>
            <form asp-action="Index" method="post">
                <input type="hidden" asp-for="id" />
                <table bgcolor="#ece3d2">
                    <tr>
                        <td bgcolor="@ViewData["NapColor"]">Nap</td>
                        <td>@ViewData["Date"]</td>
                        <td><input type="submit" value="Save/Refresh" /></td>
                        <td>@ViewData["Time"]</td>
                        <td bgcolor="@ViewData["MedicineColor"]">Medicine</td>
                        <td bgcolor="@ViewData["MedicineColor"]"><input asp-for="medicine" Size="2"/></td>
                    </tr>
                    <tr>
                        <td bgcolor="#d7dab3"><input type="time" asp-for="wakeUpTime"/></td>
                        <td bgcolor="@ViewData["FeedColor"]">Feed</td>
                        <td bgcolor="@ViewData["FeedColor"]"></td>
                        <td bgcolor="@ViewData["FeedColor"]"></td>
                        <td bgcolor="@ViewData["DiaperColor"]">Diaper</td>
                        <td bgcolor="@ViewData["DiaperColor"]"></td>
                    </tr>
                    @for (int i = 0; i < 9; i ++)
                    {
                        <tr>
                            @if ( i % 3 == 0)
                            {
                                <td bgcolor="@ViewData["NapColor"]">Nap @((i/3)+1)</td>
                            } else if ( i % 3 == 1)
                            {
                                <td bgcolor="@ViewData["NapColor"]"><input type="time" asp-for="napSleepTimes[@i/3]"/></td>
                            } else 
                            {
                                <td bgcolor="@ViewData["NapColor"]"><input type="time" asp-for="napWakeTimes[@i/3]"/></td>
                            }
                            <td bgcolor="@ViewData["FeedColor"]"><input type="time" asp-for="feedTimes[@i]"/></td>
                            <td bgcolor="@ViewData["FeedColor"]">
                                <select asp-for="feedTypes[@i]">
                                    <option value=""></option>
                                    <option value="Mother">Mother</option>
                                    <option value="Formula">Formula</option>
                                    <option value="Breakfast">Breakfast</option>
                                    <option value="Lunch">Lunch</option>
                                    <option value="Snacks">Snacks</option>
                                </select>
                            </td>
                            <td bgcolor="@ViewData["FeedColor"]"><input asp-for="feedQuantities[@i]" Size="3"/></td>
                            <td bgcolor="@ViewData["DiaperColor"]"><input type="time" asp-for="diaperTimes[@i]"/></td>
                            <td bgcolor="@ViewData["DiaperColor"]">
                                <select asp-for="diaperTypes[@i]">
                                    <option value=""></option>
                                    <option value="Pee">Pee</option>
                                    <option value="Poo">Poo</option>
                                </select>
                            </td>
                        </tr>
                    }
                </table>
            </form>
    <p>log: @ViewData["log"]</p>
</div>